﻿@page
@using Microsoft.AspNetCore.Mvc.RazorPages;
@functions{
    [BindProperty]
    public IList<CourseVM> listCourses { get; set; }
    public void OnGet()
    {
        listCourses = Repository.GetCourses();
    }
    public void OnPost()
    {
        var selectedCourses = listCourses.Where(x => x.IsChecked).ToList();
    }
}
<div class="border border-primary">
    <form id="courseForm" method="post" class="m-5">
        <h4>Select Multiple Courses</h4>
        <div>
            @for (var index = 0; index < listCourses.Count(); index++)
            {
                var test = listCourses[index].LabelName;
                <input type="checkbox" asp-for="@listCourses[index].IsChecked" class="form-check-input" />
                <label class="form-check-label" asp-for="@listCourses[index].IsChecked">
                    @listCourses[index].LabelName
                </label>
                <input type="hidden" asp-for="@listCourses[index].Id" />
                <input type="hidden" asp-for="@listCourses[index].LabelName" />
                <br />
            }
        </div>
        <div>
            <input class="btn btn-primary mt-3" type="submit" value="Submit" />
        </div>
    </form>
    <div id="selectedCourses" class="mt-3"></div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var selectedCourses = [];
            $('input[type="checkbox"]:checked').each(function () {
                var label = $(this).next('label').text();
                selectedCourses.push(label);
            });

            if (selectedCourses.length > 0) {
                var selectedList = '<h5>Selected Courses:</h5><ul>';
                $.each(selectedCourses, function (index, course) {
                    selectedList += '<li>' + course + '</li>';
                });
                selectedList += '</ul>';
                $('#selectedCourses').html(selectedList);
            } else {
                $('#selectedCourses').html('<h5>No courses selected</h5>');
            }
        });
    </script>
}
