<html lang="en">
<head>
    <title></title>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        div#header {
            position: relative;
        }

        div#navigation {
            background: #4c4c4a;
        }

        div#wrapper {
            float: left;
            width: 100%;
        }

        div#content {
            margin: 0 25%;
        }

        div#navigation {
            float: left;
            width: 25%;
            margin-left: -100%;
        }
    </style>
</head>
<body>
    @{
        var claims = User.Claims;
        string user = claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value ?? "";
        string imageUrl = $"/logo/{user}.png";
    }
    <div id="container">
        <div id="header">
            <img src="~/public.png" />
            <img src="@imageUrl" alt="Not authorized" />
            <h3>Header</h3>
        </div>
        <div id="wrapper">
            <div id="content">
                <p><strong>Main Content</strong></p>
                @RenderBody()
            </div>
        </div>
        <div id="navigation" style="height:40em">
            <a href="/index">Index</a><br />
            <a href="/public/allowedpage">allowedpage</a><br />
            <a href="/private/authorized">authorized</a><br />
            <a href="/private/logout">logout</a>
        </div>
    </div>
</body>
</html>
