﻿@{
    ViewData["Title"] = "Index";
}
<a href="/Home/SimpleExample">Excel simple example</a>
<br />
<a href="/Home/ExcelCell">Excel cell</a>
<br />
<a href="/Home/ApplyStyle">Apply Style</a>
<br />
<a href="/Home/ExcelRanges">Excel Ranges</a>
<br />
<a href="/Home/MergeCells">Merge cells</a>
<br />
<a href="/Home/Sorting">Sorting</a>
<br />
<a href="/Home/CellsUsed">CellsUsed</a>
<br />
<a href="/Home/ExpressionEvaluation">Expression Evaluation</a>
<br/>
<a href="/Home/Formula">Formula</a>