﻿<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
    <span>Select File:</span>
    <input type="file" name="postedFile" />
    <hr />
    <input type="submit" value="Upload" />
    <br />
    <span style="color:green">@TempData["Message"]</span>
</form>