﻿@model List<CheckBox.Models.Hobby>

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
    <table>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(hobbies => hobbies[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(hobbies => hobbies[i].HobbyName)
                    @Html.HiddenFor(hobbies => hobbies[i].HobbyId)
                    @Html.HiddenFor(hobbies => hobbies[i].HobbyName)
                </td>
            </tr>
        }
    </table>
    <br />
    <input type="submit" value="Save" />
}