﻿@page
@using Microsoft.AspNetCore.Html
@using System.Threading.Tasks;
@functions {

    public static HtmlString OrderedList(IEnumerable<string> items)
    {
        return new HtmlString(string.Join(",", items));
    }
}

@OrderedList(new[] { "Blue", "Red", "Green" })

@*----------------------------------*@


@{
    async Task<string> MyAsyncString(string input)
    {
        return input+" World!";
    }
}
<br />
<br />
@await MyAsyncString("Hello");