﻿@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Http.HttpResults;
@functions {
    public IActionResult OnGetUsers()
    {
        return new JsonResult(new { test = "Jack" }) { StatusCode = 200 };
    }
}

<h1>Hello, World!</h1>
<button onclick="Test()">Submit</button>
<script src="~/jquery/jquery.min.js"></script>
<script>
    function Test() {
        alert('test')
        $.getJSON('/examples7/return_json?handler=Users', function (data) {
            console.log('hello')
            console.log(data)
        });
    }
</script>