﻿@page
@model razor_pages.Pages.examples7.return_json_pagemodelModel
<form method="post">
    <h1>Test</h1>
</form>

<script src="~/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $.getJSON('/examples7/return_json_pagemodel/?handler=CarList1', function (data) {
            console.log('hello')
            console.log(data) //there is no data
        });
        $.ajax({
            type: "POST",
            url: '/examples7/return_json_pagemodel/?handler=CarList2',
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            data: { test: 'Some text' },
            dataType: 'json',
            success: function (response) {
                console.log(response)
            }
        });
    });
</script>