﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aspnet.JQuery</title>
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="d-grid gap-2">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">
                    test1
                </a>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="UploadFile">
                    test2
                </a>
                <a class="btn btn-secondary" asp-action="AutoCompleteAjax" asp-controller="Home">
                    test3
                </a>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
</body>
</html>
