﻿@using Models
@using ViewModels

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagingTagHelper
@model ProductsListViewModel

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

@foreach (Product p in Model.Products ?? Enumerable.Empty<Product>())
{
    <partial name="ProductSummary" model="p" />
}

<div page-model="@Model.PagingInfo"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>