﻿@page
@model ScaffoldEntity.Pages.UserCodeDetails.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserCodeDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.SubCodeId" class="control-label"></label>
                <input asp-for="UserCodeDetail.SubCodeId" class="form-control" />
                <span asp-validation-for="UserCodeDetail.SubCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.CodeId" class="control-label"></label>
                <input asp-for="UserCodeDetail.CodeId" class="form-control" />
                <span asp-validation-for="UserCodeDetail.CodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.Description" class="control-label"></label>
                <input asp-for="UserCodeDetail.Description" class="form-control" />
                <span asp-validation-for="UserCodeDetail.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.IsDefault" class="control-label"></label>
                <input asp-for="UserCodeDetail.IsDefault" class="form-control" />
                <span asp-validation-for="UserCodeDetail.IsDefault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.DisplayOrder" class="control-label"></label>
                <input asp-for="UserCodeDetail.DisplayOrder" class="form-control" />
                <span asp-validation-for="UserCodeDetail.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.CreatedById" class="control-label"></label>
                <input asp-for="UserCodeDetail.CreatedById" class="form-control" />
                <span asp-validation-for="UserCodeDetail.CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.CreatedOn" class="control-label"></label>
                <input asp-for="UserCodeDetail.CreatedOn" class="form-control" />
                <span asp-validation-for="UserCodeDetail.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.ModifiedById" class="control-label"></label>
                <input asp-for="UserCodeDetail.ModifiedById" class="form-control" />
                <span asp-validation-for="UserCodeDetail.ModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCodeDetail.ModifiedOn" class="control-label"></label>
                <input asp-for="UserCodeDetail.ModifiedOn" class="form-control" />
                <span asp-validation-for="UserCodeDetail.ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

