﻿@page
@model ScaffoldEntity.Pages.UserCodeDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserCodeDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.SubCodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.SubCodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.CodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.CodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.IsDefault)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.IsDefault)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.DisplayOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.CreatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.CreatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.ModifiedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.ModifiedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserCodeDetail.UserCodeDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
