﻿@page
@model ScaffoldEntity.Pages.UserCodeDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserCodeDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.SubCodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.SubCodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.CodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.CodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.IsDefault)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.IsDefault)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.DisplayOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.CreatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.CreatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.ModifiedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCodeDetail.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCodeDetail.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserCodeDetail?.UserCodeDetailId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
