﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/jqueryui/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="btn-group" name="examples1">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples1
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples1/single_file">
                        single_file
                    </a>
                    <a class="btn btn-secondary" href="/examples1/functions_block">
                        function_block
                    </a>
                    <a class="btn btn-secondary" href="/examples1/functions_local_method">
                        functions_local_method
                    </a>
                    <a class="btn btn-secondary" href="/examples1/pagemodel">
                        pagemodel
                    </a>
                    <a class="btn btn-secondary" href="/examples1/razor_syntax">
                        razor_syntax
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples2">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples2
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples2/postform">
                        post_form
                    </a>
                    <a class="btn btn-secondary" href="/examples2/named_page_handler">
                        named_page_handler
                    </a>
                    <a class="btn btn-secondary" href="/examples2/multi_action_form">
                        multi_action_form
                    </a>
                    <a class="btn btn-secondary" href="/examples2/view_data">
                        view_data
                    </a>
                    <a class="btn btn-secondary" href="/examples2/ViewDataAttribute">
                        ViewDataAttribute
                    </a>
                    <a class="btn btn-secondary" href="/examples2/view_bag">
                        view_bag
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples3">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples3
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples3/redirect_to_page_result">
                        redirect_to_page_result
                    </a>
                    <a class="btn btn-secondary" href="/examples3/select_list">
                        select_list
                    </a>
                    <a class="btn btn-secondary" href="/examples3/select_with_enum">
                        select_with_enum
                    </a>
                    <a class="btn btn-secondary" href="/examples3/opt_group">
                        opt_group
                    </a>
                    <a class="btn btn-secondary" href="/examples3/grouping_constructor">
                        grouping_constructor
                    </a>
                    <a class="btn btn-secondary" href="/examples3/grouping_child_object">
                        grouping_child_object
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples4">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples4
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples4/configuration">
                        configuration
                    </a>
                    <a class="btn btn-secondary" href="/examples4/file_upload">
                        file_upload
                    </a>
                    <a class="btn btn-secondary" href="/examples4/checkbox_collection">
                        checkbox_collection
                    </a>
                    <a class="btn btn-secondary" href="/examples4/date_time">
                        date_time
                    </a>
                    <a class="btn btn-secondary" href="/examples4/anti_forgery">
                        anti_forgery
                    </a>
                    <a class="btn btn-secondary" href="/examples4/radios">
                        radios
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples5">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples5
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples5/validations">
                        validations
                    </a>
                    <a class="btn btn-secondary" href="/examples5/bind_simple_collection">
                        bind_simple_collection
                    </a>
                    <a class="btn btn-secondary" href="/examples5/binding_complex_collections">
                        binding_complex_collections
                    </a>
                    <a class="btn btn-secondary" href="/examples5/bind_related_objects">
                        bind_related_objects
                    </a>
                    <a class="btn btn-secondary" href="/examples5/binding_arbitrary_keys">
                        binding_arbitrary_keys
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples6">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples6
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples6/post_form_ajax">
                        post_form_ajax
                    </a>
                    <a class="btn btn-secondary" href="/examples6/unobtrusive_ajax">
                        unobtrusive_ajax
                    </a>
                    <a class="btn btn-secondary" href="/examples6/PartialUpdate/ajaxpartial">
                        ajaxpartial
                    </a>
                    <a class="btn btn-secondary" href="/examples6/cascading_dropdowns">
                        cascading_dropdowns
                    </a>
                    <a class="btn btn-secondary" href="/examples6/upload_files">
                        upload_files
                    </a>
                    <a class="btn btn-secondary" href="/examples6/upload_files_jquery">
                        upload_files_jquery
                    </a>
                    <a class="btn btn-secondary" href="/examples6/unobtrusive_ajax_razor">
                        unobtrusive_ajax_razor
                    </a>
                    <a class="btn btn-secondary" href="/examples6/PartialAjaxUpdate/partial_ajax_update">
                        partial_ajax_update
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples7">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples7
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples7/functions_helper">
                        functions_helper
                    </a>
                    <a class="btn btn-secondary" href="/examples7/return_json/">
                        return_json
                    </a>
                    <a class="btn btn-secondary" href=" /examples7/return_json_pagemodel">
                        return_json_pagemodel
                    </a>
                    <a class="btn btn-secondary" href=" /examples7/SingleFileRazorPage?name=Hello">
                        Single File Razor Page
                    </a>
                    <a class="btn btn-secondary" href=" /examples7/unobtrusive_checkbox/checkbox_unobtrusive">
                        checkbox unobtrusive
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
            <script src="~/jqueryui/jquery-ui.min.js"></script>
            <script src="~/jquery/jquery.validate.min.js"></script>
            <script src="~/jquery/jquery.unobtrusive-ajax.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>