﻿@using DataList.Controllers
@model List<Country>

<input type="text" list="countries" id="country" autocomplete="off" />
<datalist id="countries">
    @foreach (Country country in Model)
    {
        <input type="hidden" data-countryName="@country.CountryName" value="@country.CountryId" />
        <option value="@country.CountryName"></option>
    }
</datalist>
<button onclick="Show()">Show selected</button>
<script src="~/js/jquery.min.js"></script>
<script>
    function Show() {
        const country_name = $('#country').val();
        if (!country_name) return;
        var country_id = $('*[data-countryName="' + country_name + '"]').val();
        alert(country_id + ' ' + country_name);
    }
</script>
