﻿<input list="cars" type="text" id="car" />
<datalist id="cars">
    <option data-id="1" value="Ford"></option>
    <option data-id="2" value="BMV"></option>
    <option data-id="3" value="Chevrolet"></option>
</datalist>
<script src="~/js/jquery.min.js"></script>
<script>
    $("#car").keyup(function () {
        var car_name = $('#car').val();
        var id = $('#cars option[value=' + car_name + ']').attr('data-id');
        alert(id);
    });
    $("#car").on("dblclick", function () {
        $('#car').val('');
    });
</script>