﻿@{
    ViewData["Title"] = "Data List";
}
Please Select Country:
<input id="country" type="text" list="countries" name="country" autocomplete="off" />
<datalist id="countries">
    <option value="India">India</option>
    <option value="United States"></option>
    <option value="United Kingdom"></option>
    <option value="China"></option>
    <option value="Nepal"></option>
    <option value="Afghanistan"></option>
    <option value="Iceland"></option>
    <option value="Indonesia"></option>
    <option value="Iraq"></option>
    <option value="Ireland"></option>
    <option value="Israel"></option>
    <option value="Italy"></option>
    <option value="Swaziland"></option>
</datalist>
<br />
<br />
<input id="SelectColor" type="text" list="AllColors">
<br />
<datalist id="AllColors">
    <option value="Red" label="1"></option>
    <option value="Yellow" label="2"></option>
    <option value="Green" label="3"></option>
    <option value="Blue" label="4"></option>
</datalist>
<br />
<button type="button" onclick="AddValue()">Add</button>
<br />
<select id="Colors" size="3" multiple></select>
<script src="~/js/jquery.min.js"></script>
<script>
    $(function () {
        const option = document.createElement("option");
        option.value = -1;
        option.text = 'test';
        document.getElementById('Colors').appendChild(option);
    });
    function AddValue() {
        const color_value = $('#SelectColor').val();
        if (!color_value) return;
        const color_id = $('option[value="' + color_value + '"]')[0].label;

        const option = document.createElement("option");
        option.value = color_id;
        option.text = color_value;

        document.getElementById('Colors').appendChild(option);
    }
    $("#country").on("dblclick", function () {
        $('#country').val('');
    });
</script>
