﻿@page
@{

    Layout = null;
}
@functions {
    [BindProperty]
    public string? username { get; set; }
    [BindProperty]
    public string? password { get; set; }
    [BindProperty]
    public string? message { get; set; }
    [BindProperty]
    public string? url { get; set; }

    public void OnGet(string? returnUrl)
    {
        url = returnUrl;
    }
    public IActionResult OnPost()
    {
        var loginValid = ValidateLogin(username, password);
        if (!loginValid)
        {
            return Page();
        }
        else
        {
            SignInUser(username);

            if (string.IsNullOrWhiteSpace(url) || !url.StartsWith("/") || url == "/")
            {
                return RedirectToPage("/Index");
            }
            else
            {
                return RedirectToPage(url);
            }
        }
    }
    private bool ValidateLogin(string username, string password)
    {
        // Check the user/pass here!
        return true;
    }

    private void SignInUser(string username)
    {
        var claims = new List<Claim>
            {
                new Claim(ClaimTypes.Name, username),
                new Claim("MyCustomClaim", "my claim value")
            };

        var claimsIdentity = new ClaimsIdentity(
            claims, CookieAuthenticationDefaults.AuthenticationScheme);

        HttpContext.SignInAsync(
            CookieAuthenticationDefaults.AuthenticationScheme,
            new ClaimsPrincipal(claimsIdentity));
    }
}
<form method="post" action="~/public/login">
    <label>@message</label>
    <table>
        <tr>
            <td>username</td>
            <td><input asp-for="username" /></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input asp-for="password" /></td>
        </tr>
        <tr>
            <td>returnUrl</td>
            <td><input asp-for="url" readonly /></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>