﻿@using ExcellImportExport.Models;
@model IEnumerable<Customer>

<h4>Customers</h4>
<hr />
<table cellpadding="0" cellspacing="0">
    <tr>
        <th>CustomerId</th>
        <th>Last Name</th>
        <th>FirstName</th>
        <th>Job</th>
    </tr>
    @foreach (Customer customer in Model)
    {
        <tr>
            <td>@customer.id</td>
            <td>@customer.lastName</td>
            <td>@customer.firstName</td>
            <td>@customer.job</td>
        </tr>
    }
</table>
<br />
<br />
@using (Html.BeginForm("Export", "Home", FormMethod.Post))
{
    <input type="submit" value="Export" />
}