﻿@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FileModel>

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table, table table td {
            border: 0px solid #ccc;
        }
</style>

<form method="post" enctype="multipart/form-data" asp-controller="UploadFile" asp-action="UploadFile">
    <input type="file" name="postedFile" />
    <input type="submit" id="btnUpload" value="Upload" />
</form>
<form method="post" asp-controller="UploadFile" asp-action="DownloadFile">
    <input type="hidden" id="hfFileId" name="FileId" />
    <input type="submit" id="btnDownload" value="Download" style="display:none" />
</form>
<hr />
<table id="tblFiles" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:50px">File ID</th>
        <th style="width:120px">File Name</th>
        <th style="width:80px">Download</th>
    </tr>
    @foreach (var file in Model)
    {
        <tr>
            <td>@file.Id</td>
            <td>@file.Name</td>
            <td><a href="javascript:;" onclick="DownloadFile(@file.Id)">Download</a></td>
        </tr>
    }
</table>
@section Scripts{
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
}
