﻿@{
    ViewData["Title"] = "JqueryNotify";
}
<form method="post" action="jquerynotify/index">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</form>
@if (TempData["Message"] != null)
{
    Console.WriteLine("Tempdata is not null");
    @section Scripts{
    <script type="text/javascript">
        window.onload = function () {
            var message = "@TempData["Message"]";
            $.notify(message, {
                type: 'success',
                icon: 'check',
                align: "center",
                verticalAlign: "top",
                animation: true,
                animationType: "drop",
                close: true
            });
        };
    </script>
    }
}
else
{
    Console.WriteLine("Tempdata is null");
}