﻿@{
    ViewData["Title"] = "ViewBag.Message";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" id="txtName" name="name" />
    <input type="submit" id="btnSubmit" value="Get Current Time" />
}
@if (ViewBag.Message != null)
{
    @section Scripts{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
    }
}