﻿@using CheckBox.Models
@model EventModel
<form id="form">
    <div class="form-group">
        <input id="GraduateAttributes_0__Id" name="GraduateAttributes[0].Id" type="hidden" value="GA1">
        <input id="GraduateAttributes_0__IsSelected" name="GraduateAttributes[0].IsSelected" type="checkbox" value="true">
        <input name="GraduateAttributes[0].IsSelected" type="hidden" value="false"> &nbsp;
        <label id="graduate_label_0" for="GraduateAttributes_0__IsSelected">Critical and creative thinker</label>
        <br>
        <input id="GraduateAttributes_1__Id" name="GraduateAttributes[1].Id" type="hidden" value="GA2">
        <input id="GraduateAttributes_1__IsSelected" name="GraduateAttributes[1].IsSelected" type="checkbox" value="true">
        <input name="GraduateAttributes[1].IsSelected" type="hidden" value="false"> &nbsp;
        <label id="graduate_label_1" for="GraduateAttributes_1__IsSelected">Literate and effective communicator</label>
        <br>
        <input id="GraduateAttributes_2__Id" name="GraduateAttributes[2].Id" type="hidden" value="GA3">
        <input id="GraduateAttributes_2__IsSelected" name="GraduateAttributes[2].IsSelected" type="checkbox" value="true">
        <input name="GraduateAttributes[2].IsSelected" type="hidden" value="false"> &nbsp;
        <label id="graduate_label_2" for="GraduateAttributes_2__IsSelected">Entrepreneurial and leadership</label>
        <br>
        <input id="GraduateAttributes_3__Id" name="GraduateAttributes[3].Id" type="hidden" value="GA4">
        <input id="GraduateAttributes_3__IsSelected" name="GraduateAttributes[3].IsSelected" type="checkbox" value="true">
        <input name="GraduateAttributes[3].IsSelected" type="hidden" value="false"> &nbsp;
        <label id="graduate_label_3" for="GraduateAttributes_3__IsSelected">Global in outlook and engaged in communities, volunteering</label>
        <br>
        <input id="GraduateAttributes_4__Id" name="GraduateAttributes[4].Id" type="hidden" value="GA5">
        <input id="GraduateAttributes_4__IsSelected" name="GraduateAttributes[4].IsSelected" type="checkbox" value="true">
        <input name="GraduateAttributes[4].IsSelected" type="hidden" value="false"> &nbsp;
        <label id="graduate_label_4" for="GraduateAttributes_4__IsSelected">Social, ethically and environmentally aware</label>
        <br>
        <div class="col-md-9">
            Selected Checkbox Values:
            <p class="display-value-test" data-display="GraduateAttributes"></p>
        </div>
        <input type="button" onclick="CheckValues()" value="ShowValueResult" />
    </div>
</form>
@section Scripts{
    <script>
        function CheckValues() {
            //debugger;
            $('.display-value-test', form).each(function () {
                let all_graduate_value = '';
                $('input:checkbox[name^="' + $(this).attr("data-display") + '"]:checked').each(function () {
                    if ($(this).is(":checked")) {
                        var myLabel = '-' + $("label[for='" + $(this).attr('id') + "']").text() + '<br/>';
                        all_graduate_value += myLabel;
                        console.log(myLabel);
                    }
                });
                $(this).html(all_graduate_value);
            });
        }
    </script>
}