﻿@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/AutoComplete/',
                        data: JSON.stringify(request.term),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" id="txtCustomer" name="CustomerName" />
    <input type="hidden" id="hfCustomer" name="CustomerId" />
    <br />
    <br />
    <input type="submit" id="btnSubmit" value="Submit" />
    <br />
    <br />
    @ViewBag.Message
}