﻿@model IEnumerable<string>
<h2>Список пользователей</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>@user</li>
    }
</ul>
<h2>@ViewData["Header"]</h2>

<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>@user</li>
    }
</ul>