﻿@using razor_pages.Models;
@model List<Car>
<table class="table table-striped">
    @foreach (var car in Model)
    {
        <tr>
            <td>@car.Model</td>
            <td>@car.Make</td>
            <td>@car.Year</td>
            <td>$@car.Price</td>
        </tr>
    }
</table>