﻿<link href="~/css/styles.css" rel="stylesheet" />
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-page="/Index" class="navbar-brand">RazorAPI</a>
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr />
    <script src="~/js/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</div>