﻿@page
@using LogRequestMiddleware.Services;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@inject IUserService userService;
@functions {
    [BindProperty]
    public string? Email { get; set; }
    [BindProperty]
    public string? Password { get; set; }

    public IActionResult OnPost()
    {
        TestUser testUser = userService.Users.Where(x => x.Email == Email && x.Password == Password).Single();
        if (testUser is null)
            return Unauthorized();
        else
        {
            var claims = new List<Claim> { 
                new Claim(ClaimTypes.Email, testUser.Email), 
                new Claim(ClaimTypes.Name, testUser.Name),
            
            };
            ClaimsIdentity claimsIdentity = new ClaimsIdentity(claims, "Cookies");
            HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, new ClaimsPrincipal(claimsIdentity));

            return RedirectToPage("Index");
        }
    }
}
<html>
<body>
    <h2>Login Form</h2>
    <form method='post'>
        <p>
            <label>Email</label><br />
            <input asp-for="Email" />
        </p>
        <p>
            <label>Password</label><br />
            <input type='password' asp-for="Password" />
        </p>
        <input type='submit' value='Login' />
    </form>
</body>
</html>