﻿@page "{handler?}"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Authentication;
@functions {
    public string? UserName { get; set; }
    [Authorize]
    public IActionResult OnGet()
    {
        if (!HttpContext.User.Identity.IsAuthenticated)
        {
            return Redirect("/login");
        }
        else
        {
            return Page();
        }

    }
    public IActionResult OnGetIndex()
    {
        HttpContext.SignOutAsync();
        return Redirect("/test");
    }
    public IActionResult OnGetLogout()
    {
        HttpContext.SignOutAsync();
        return Redirect("/login");
    }
}
<h1>Hello @User.Identity.Name</h1>
<a href="/Index">Index</a>
<a href="/index?handler=logout">LogOut</a>