﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-5">

        <form method="post" enctype="multipart/form-data" asp-controller="Export" asp-action="ExporttoExcel">


            <div class="form-group">
                <div class="col-md-10">

                    <input class="btn btn-primary" type="submit" value="Export File" />

                </div>
            </div>
        </form>


    </div>
</div>