﻿@*@page*@
@page "{handler?}"
@functions {
    public string Message { get; set; } = "Initial Request";
    public void OnPostRegister()
    {
        Message = "from OnPostRegister";
    }
    public void OnPostRequestInfo()
    {
        Message = "from OnPostRequestInfo";
    }
}

<form method="post">
    <button asp-page-handler="Register">Register Now</button>
    <button asp-page-handler="RequestInfo">Request Info</button>
</form>
<h3 class="clearfix">@Model.Message</h3>