﻿@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model razor_pages.Pages.Person.IndexModel

@{
    ViewData["Title"] = "Index";
}
<form method="post">
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" id="txtFirstName" name="FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" id="txtLastName" name="LastName" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit" asp-page-handler="Submit" />
            </td>
        </tr>
    </table>
    <hr />
    @Model.Name
</form>