﻿@page
@{
    @functions {
        public void OnGet()
        {
            ViewBag.Title = "My Home Page";
        }
    }
}
<h1>@ViewBag.Title from ViewBag.Title</h1>
<h2>@ViewData["Title"] from ViewData["Title"]</h2>