﻿@page
@{
    @functions {
        public void OnGet()
        {
            ViewData["MyNumber"] = 42;
            ViewData["MyString"] = "Hello World";
            ViewData["MyComplexObject"] = new Book("Sum Of All Fears", new Author("Tom Clancy"), 5.99m);
        }
        record Book(string Title, Author Author, decimal Price);
        record Author(string Name);
    }
}
<h2>@ViewData["MyString"]</h2>
<p>The answer to everything is @ViewData["MyNumber"]</p>
@{
    Book? book = (Book?)ViewData["MyComplexObject"];
}
<h2>@book?.Title</h2>
<p>@book?.Author.Name</p>
<p>@book?.Price</p>