﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/jqueryui/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="btn-group" name="examples1">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples1
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/Home/Index">
                        Sinks_mssql
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples2">
                <button class="btn btn-secondary btn-lg" type="button">
                    examples2
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples2/postform">
                        post_form
                    </a>                   
                </div>
            </div>           
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
            <script src="~/jqueryui/jquery-ui.min.js"></script>
            <script src="~/jquery/jquery.unobtrusive-ajax.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>