﻿@page
@model ScaffoldEntity.Pages.UserCodes.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserCode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.CodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.CodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.CreatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.CreatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.ModifiedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.ModifiedOn)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserCode.UserCodeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
