﻿@page
@model ScaffoldEntity.Pages.UserCodes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserCode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.CodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.CodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.CreatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.CreatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.ModifiedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCode.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserCode?.UserCodeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
