﻿@page
@model ScaffoldEntity.Pages.UserCodes.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UserCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserCode.UserCodeId" />
            <div class="form-group">
                <label asp-for="UserCode.CodeId" class="control-label"></label>
                <input asp-for="UserCode.CodeId" class="form-control" />
                <span asp-validation-for="UserCode.CodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode.Description" class="control-label"></label>
                <input asp-for="UserCode.Description" class="form-control" />
                <span asp-validation-for="UserCode.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode.CreatedById" class="control-label"></label>
                <input asp-for="UserCode.CreatedById" class="form-control" />
                <span asp-validation-for="UserCode.CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode.CreatedOn" class="control-label"></label>
                <input asp-for="UserCode.CreatedOn" class="form-control" />
                <span asp-validation-for="UserCode.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode.ModifiedById" class="control-label"></label>
                <input asp-for="UserCode.ModifiedById" class="form-control" />
                <span asp-validation-for="UserCode.ModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode.ModifiedOn" class="control-label"></label>
                <input asp-for="UserCode.ModifiedOn" class="form-control" />
                <span asp-validation-for="UserCode.ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

