﻿@page
@model ScaffoldEntity.Pages.UserCodes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserCode[0].CodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCode[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCode[0].CreatedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCode[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCode[0].ModifiedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCode[0].ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserCode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserCodeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserCodeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserCodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
