﻿@page
@functions {
    [BindProperty]
    public Orderr Order { get; set; } =
        new Orderr(1, "some customer", new List<OrderItem> { new OrderItem(23, "SOme item", 13) });

    public void OnPost()
    {
        var test = Order;
    }
    public record Orderr(int OrderId, string Customer, List<OrderItem> OrderItems);
    public record OrderItem(int OrderItemId, string Item, decimal Price);
}

<form method="post">
    <input asp-for="Order.Customer" /><br />
    <input asp-for="Order.OrderItems[0].Item" /><br>
    <input asp-for="Order.OrderItems[0].Price" /><br>
    <input type="submit" />
</form>