﻿@page
@functions {
    [BindProperty]
    public List<Contact>? Contacts { get; set; } = new List<Contact>
    {
        new Contact(1,"Tom", "Smith","asdf"),
        new Contact(1,"Kate", "Blonde","zxcv"),
        new Contact(1,"Tom", "Smith","fgjh"),
    };
    public record Contact(int ContactId, string FirstName, string LastName, string Email);
    public void OnPost()
    {
        string? test = "";
        var test2 = Contacts;
    }

}

<form class="form-horizontal" method="post">
    <table class="table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        @for (var i = 0; i < Contacts.Count(); i++)
        {
            <tr>
                <td>
                    <input type="text" asp-for="Contacts[i].FirstName" />
                </td>
                <td>
                    <input type="text" asp-for="Contacts[i].LastName" />
                </td>
                <td>
                    <input type="text" asp-for="Contacts[i].Email" />
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>