﻿@page
@functions{
    [BindProperty]
    public int[] Movies { get; set; } = new int[0];

    public void OnPost()
    {
        // No need to pass categoryId as a parameter because of the BindProperty attribute
        ViewData["categoryId"] = Movies;
    }

    private bool IsChecked(int id)
    {
        return Movies.Contains(id);
    }
}

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="Movies" class="control-label">Which types of film do you like? (Tick all that apply)</label>
        <div class="col-sm-10">
            <input type="checkbox" name="Movies" value="1" @(IsChecked(1) ? "checked" : "")> Factual<br />
            <input type="checkbox" name="Movies" value="2" @(IsChecked(2) ? "checked" : "")> Horror<br />
            <input type="checkbox" name="Movies" value="3" @(IsChecked(3) ? "checked" : "")> Historical<br />
            <input type="checkbox" name="Movies" value="4" @(IsChecked(4) ? "checked" : "")> SciFi<br />
            <input type="checkbox" name="Movies" value="5" @(IsChecked(5) ? "checked" : "")> Comedy<br />
            <input type="checkbox" name="Movies" value="6" @(IsChecked(6) ? "checked" : "")> Fantasy<br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

@if (ViewData["categoryId"] != null)
{
    <h3>You selected the following categories: @string.Join(", ", (int[])ViewData["categoryId"])</h3>
}


