﻿@page
@functions {
    [BindProperty]
    public Personn Person { get; set; }
    public void OnPost()
    {
        var test = Person;
    }

    public class Personn
    {
        [BindProperty(Name = "first-name")]
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }
}
<form method="post">
    First Name: <input name="first-name" /><br>
    Last Name: <input name="person.lastname" /><br>
    <button>Submit</button>
</form>

