﻿@page
@using System.ComponentModel.DataAnnotations;
@functions {
    [BindProperty]
    [Required]
    [MinLength(6)]
    public string? UserName { get; set; }
    [BindProperty]
    [Required, MinLength(6)]
    public string? Password { get; set; }
    [BindProperty, Required, Compare(nameof(Password))]
    public string? Password2 { get; set; }
    public void OnPost()
    {
        var test = "";
    }
}
<link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div>
        UserName:
        <input asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        Password:
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        Password2:
        <input asp-for="Password2" />
        <span asp-validation-for="Password2" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
@section Scripts{
    <script src="~/bootstrap/bootstrap.min.js"></script>
    <script src="~/jquery/jquery.validate.min.js"></script>
    <script src="~/jquery/jquery.validate.unobtrusive.min.js"></script>
}

@*
    <div>
        <input type="text"
            data-val="true"
            data-val-minlength="The field UserName must be a string or array type with a minimum length of &#x27;6&#x27;."
            data-val-minlength-min="6"
            data-val-required="The UserName field is required." id="UserName" name="UserName" value="" />
        <span
            class="field-validation-valid"
            data-valmsg-for="UserName"
            data-valmsg-replace="true"></span>
    <div>
        <input type="text"
            data-val="true"
            data-val-minlength="The field Password must be a string or array type with a minimum length of &#x27;6&#x27;."
            data-val-minlength-min="6"
            data-val-required="The Password field is required." id="Password" name="Password" value="" />
        <span
            class="field-validation-valid"
            data-valmsg-for="Password"
            data-valmsg-replace="true"></span>
    </div>
    <div>
        <input type="text"
            data-val="true"
            data-val-equalto="&#x27;Password2&#x27; and &#x27;Password&#x27; do not match." data-val-equalto-other="*.Password"
            data-val-required="The Password2 field is required." id="Password2" name="Password2" value="" />
        <span
            class="field-validation-valid"
            data-valmsg-for="Password2"
            data-valmsg-replace="true"></span>
    </div>
    <div>
        <input type="submit" />
    </div>
*@