﻿@page
@functions {
    public SelectList? Staff { get; set; }
    [BindProperty]
    public int SelectedStaffId { get; set; }
    public void OnGet()
    {
        var staff = new List<Person>{
            new Person( 1, "Mike", new Department("IT")),
            new Person( 2, "Pete", new Department("Sales")),
            new Person( 3, "Katy", new Department("Admin")),
            new Person( 4, "Carl", new Department("Sales"))
        };
        Staff = new SelectList(staff, nameof(Person.Id), nameof(Person.Name), null, "Department.Name");
    }
    record Person(int Id, string Name, Department Department);
    record Department(string Name);
}

<select asp-for="SelectedStaffId" asp-items="Model.Staff">
    <option value="-1">Pick one</option>
</select>