﻿@page
@functions {
    public SelectList? Staff { get; set; }
    [BindProperty]
    public int SelectedStaffId { get; set; }
    public void OnGet()
    {
        var staff = new List<Person>{
            new Person( 1, "Mike", "IT"),
            new Person( 2, "Pete", "Sales"),
            new Person( 3, "Katy", "Admin"),
            new Person( 4, "Carl", "Sales")
        };
        Staff = new SelectList(staff, nameof(Person.Id), nameof(Person.Name), null, nameof(Person.Department));
    }
    record Person(int Id, string Name, string Department);
}

<select asp-for="SelectedStaffId" asp-items="Model.Staff"></select>