﻿@page
@functions {
    public int Employee { get; set; }
    public List<SelectListItem>? Staff { get; set; }
    public void OnGet()
    {
        var Sales = new SelectListGroup { Name = "Sales" };
        var Admin = new SelectListGroup { Name = "Admin" };
        var IT = new SelectListGroup { Name = "IT" };
        Staff = new List<SelectListItem>
        {
            new SelectListItem{ Value = "1", Text = "Mike", Group = IT},
            new SelectListItem{ Value = "2", Text = "Pete", Group = Sales},
            new SelectListItem{ Value = "3", Text = "Katy", Group = Admin},
            new SelectListItem{ Value = "4", Text = "Carl", Group = Sales}
        };
    }
}

<select asp-for="Employee" asp-items="Staff">
    <option value="">Pick one</option>
</select>

@*
<select data-val="true" data-val-required="The Employee field is required." id="Employee" name="Employee">
    <option value="">Pick one</option>
    <optgroup label="IT">
        <option value="1">Mike</option>
    </optgroup>
    <optgroup label="Sales">
        <option value="2">Pete</option>
        <option value="4">Carl</option>
    </optgroup>
        <optgroup label="Admin">
        <option value="3">Katy</option>
    </optgroup>
</select>
*@