﻿@page
@using razor_pages.Models
@functions {
    public RatingEnum Rating { get; set; }
}

<select asp-for="Rating" asp-items="Html.GetEnumSelectList<RatingEnum>()">
    <option value="">Pick one</option>
</select>