﻿@page

@functions {
    [BindProperty]
    public int Person { get; set; } = 3;
    public List<SelectListItem>? People { get; set; }
    public void OnGet()
    {
        People = new List<SelectListItem> {
                new SelectListItem { Value = "1", Text = "Mike" },
                new SelectListItem { Value = "2", Text = "Pete" },
                new SelectListItem { Value = "3", Text = "Katy" },
                new SelectListItem { Value = "4", Text = "Carl" }
        };
    }
}
<form>
    <select asp-for="Person" asp-items="People">
        <option value="">Pick one</option>
    </select>
</form>


