﻿@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-secondary" asp-action="singleSheet" asp-controller="Home">
    singleSheet
</a>
<br>
<br>
<a class="btn btn-secondary" asp-action="multiSheet" asp-controller="Home">
    multiSheet
</a>
<br>
<br>
<a class="btn btn-secondary" asp-action="ExcelFile" asp-controller="Home">
    ExcelFile
</a>
<br>