﻿@model string
@*<table><tbody><tr><td>@Model</td></tr></tbody></table>
*@
<table><tbody><tr><td>Student:&nbsp;00015010 Alimov  Sanjar</td></tr><tr><td>Module:&nbsp;English for Academic Success (EAS)</td></tr><tr><td>Module Run:&nbsp;2021/2022</td></tr><tr><td>Enrollment Status:&nbsp;</td></tr></tbody></table>