﻿@page
@model HtmlNodeAgility.Pages.HtmlAgilityBasics.HtmlNodeControlModel
@{
}
<form method="post">
    <div class="row">
        <div class="col-2">
            <input type="submit" value="Change Html Content" class="form-control btn btn-primary" />
        </div>        
    </div>    
</form>
@section Scripts{ 
    <script>
        //debugger;
        @Html.Raw(TempData["msg"])
    </script>
}
