﻿@page
@functions {
    [BindProperty(SupportsGet = true)]
    public int CategoryId { get; set; }
    public int SubCategoryId { get; set; }
    public SelectList Categories { get; set; }

    public void OnGet()
    {
        Categories = new SelectList(GetCategories(), nameof(Category.CategoryId), nameof(Category.CategoryName));
    }
    public JsonResult OnGetSubCategories()
    {
        return new JsonResult(GetSubCategories(CategoryId));
    }
    public IEnumerable<Category> GetCategories()
    {
        return new List<Category>
        {
            new Category ( 1, "Category 1" ),
            new Category ( 2, "Category 2" ),
            new Category ( 3, "Category 3" )
        };
    }
    public IEnumerable<SubCategory> GetSubCategories(int categoryId)
    {
        var subCategories = new List<SubCategory> {
            new SubCategory (1, 1, "SubCategory 1" ),
            new SubCategory (2, 2, "SubCategory 2" ),
            new SubCategory (3, 3, "SubCategory 3" ),
            new SubCategory (4, 1, "SubCategory 4" ),
            new SubCategory (5, 2, "SubCategory 5" ),
            new SubCategory (6, 3, "SubCategory 6" ),
            new SubCategory (7, 1, "SubCategory 7" ),
            new SubCategory (8, 2, "SubCategory 8" ),
            new SubCategory (9, 3, "SubCategory 9" )
        };
        return subCategories.Where(s => s.CategoryId == categoryId);
    }
    public record Category(int CategoryId, string CategoryName);
    public record SubCategory(int SubCategoryId, int CategoryId, string SubCategoryName);
}

<h4>Categories</h4>
<select asp-for="CategoryId" asp-items="Model.Categories">
    <option value="">Select Category</option>
</select>
<h4>SubCategories</h4>
<select asp-for="SubCategoryId"></select>
@section Scripts{
    <script>
        $(function () {
            $("#CategoryId").on("change", function () {
                var categoryId = $(this).val();
                $("#SubCategoryId").empty();
                $("#SubCategoryId").append("<option value=''>Select SubCategory</option>");
                $.getJSON(`?handler=SubCategories&categoryId=${categoryId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#SubCategoryId").append(`<option value="${item.subCategoryId}">${item.subCategoryName}</option>`);
                    });
                });
            });
        });
    </script>
}