﻿@page
@functions{
    [BindProperty]
    public InputModel? Input { get; set; }

    [BindProperty]
    [Required]
    [Display(Name = "First Name")]
    public string FirstName { get; set; }

    public void OnPost()
    {
        // Handle the form submission
    }

    public class InputModel
    {

        [BindProperty]
        [Display(Name = "Last Name")]
        public string? LastName { get; set; }

        [BindProperty]
        [EmailAddress]
        public string? Email { get; set; }

        [BindProperty]
        [Display(Name = "Date of Birth"), DataType(DataType.Date)]
        public DateTime DateOfBirth { get; set; }
    }
}

<form method="post" class="col-sm-6">
    <div class="form-group row">
        <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Input.LastName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.LastName" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Input.DateOfBirth" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.DateOfBirth" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Input.Email" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.Email" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-7 offset-sm-3">
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>
</form>

@section Scripts{
    @*for client side validation*@
    <script src="~/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                if ($('form').valid()) {
                    $.post('', $('form').serialize(), function () {
                        alert('Posted using jQuery');
                    });
                }
            });
        });
    </script>
}

@*
    Input.FirstName=Abdujalil
    &Input.LastName=Chuliev
    &Input.DateOfBirth=2023-05-26
    &__Invariant=Input.DateOfBirth
    &Input.Email=abdujalilc%40umail.uz
    &__RequestVerificationToken=CfDJ8L7mRI5t3jtJkNna_vKbT.....
*@