﻿@page
@functions {
    [BindProperty]
    public string SurName { get; set; }
    public IActionResult OnPost()
    {
        return Content(SurName);
    }
}
<form method="post"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-confirm="Are you sure?"
      data-ajax-complete="completed"
      data-ajax-failure="failed">
    Name: <input type="text" name="SurName" /><br>
    <input type="submit" />
</form>
@section Scripts{
    @*<script src="~/jquery/jquery.unobtrusive-ajax.min.js"></script> added in _Layout*@
    <script>
        function completed(xhr) {
            alert(`Hi ${xhr.responseText}!`);
        }
        function failed(xhr) {
            alert(`Status: ${xhr.status}, Status Text: ${xhr.statusText}`);
        }
    </script>
}
