﻿@page
@functions {
    [BindProperty]
    public InputModel? Input { get; set; }
    public IActionResult OnPost()
    {
        return Content("Helloo");
    }
    public class InputModel
    {
        [Display(Name = "First Name")]
        public string? FirstName { get; set; }
        [Display(Name = "Last Name")]
        public string? LastName { get; set; }
        [EmailAddress]
        public string? Email { get; set; }
        [Display(Name = "Date of Birth"), DataType(DataType.Date)]
        public DateTime DateOfBirth { get; set; }
    }
}

<form method="post" class="col-sm-6" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
    <div class="form-group row">
        <label asp-for="Input.FirstName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.FirstName" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Input.LastName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.LastName" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Input.DateOfBirth" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.DateOfBirth" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Input.Email" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Input.Email" class="form-control">
        </div>
    </div>
    <div class="form-group row">

        <div class="col-sm-7 offset-sm-3">
            <button class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        document.forms[0].onsubmit = () => {
            let formData = new FormData(document.forms[0]);
            fetch('', {
                method: 'post',
                body: new URLSearchParams(formData)
            })
            .then(() => {
                alert('Posted using Fetch');
            });
            return false;
        };
    </script>
}
@*
    Input.FirstName=Abdujalil
    &Input.LastName=Chuliev
    &Input.DateOfBirth=2023-05-26
    &__Invariant=Input.DateOfBirth
    &Input.Email=abdujalilc%40umail.uz
    &__RequestVerificationToken=CfDJ8L7mRI5t3jtJkNna_vKbT.....
*@