﻿@page
@using Microsoft.AspNetCore.Http;
@functions {
    [BindProperty, Display(Name = "File")]
    public IFormFile UploadedFile { get; set; }
    public void OnPost()
    {
        string name = "";
        if (Request.HasFormContentType)
        {
            name = Request.Form["uploadedfile"];
        }
    }
}

<form method="post" class="col-sm-6">
    <div class="form-group row">
        <label asp-for="UploadedFile" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="UploadedFile" class="form-control">
        </div>
    </div>
    <div class="form-group row">

        <div class="col-sm-7 offset-sm-3">
            <button class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>
</form>

