﻿@page
@using Microsoft.AspNetCore.Html;

@functions {
    void DisplayDate(DateTime dt)
    {
        <span class="date">@dt.ToString("dddd, dd MMMM yyyy")</span>
    }
}

@{
    Func<DateTime, IHtmlContent> DisplayDate2 = @<span class="date">@item.ToString("dddd, dd MMMM yyyy")</span>;
}


@{
    DisplayDate(new DateTime(2019, 05, 09, 9, 15, 0));
    <br>
    <br>
    <br>
    DisplayDate2(new DateTime(2023, 05, 09, 9, 15, 0));
}

