﻿@page

@{
    var numbers = Enumerable.Range(1, 10);
}

@foreach (var number in numbers)
{
    @number
}
<br />
@foreach (var number in numbers)
{
    @(number * 10)
}
<br />
For support, contact support@@domain.com
<br />
@*variables with verbatim literal string*@
@foreach (var number in numbers)
{
    @(number * 10)

    @:&nbsp;
}

@*jump from code to html and viceversa*@
@foreach (var number in numbers)
{
    <span>@(number * 10)&nbsp;</span>
}
@*<text>not rendered</text>*@
@foreach (var number in numbers)
{
    <text>@(number * 10) * 10 = @(number * 10)&nbsp;</text>
}

