﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aspnet.JQuery</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="d-grid gap-2">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">
                    Basics
                </a>
                <a class="btn btn-secondary" asp-action="TestViewRender" asp-controller="RenderView">
                    RenderView
                </a>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
            <script src="~/jquery/jquery.validate.min.js"></script>
            <script src="~/jquery/jquery.validate.unobtrusive.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
