﻿@model Product

<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            <tr>
                <th>Name</th>
                <td>@Model?.Name</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Model?.Price</td>
            </tr>
        </tbody>
    </table>
</div>
