﻿@page
@using Microsoft.AspNetCore.Antiforgery;
@inject IAntiforgery antiforgery;

@{
    string? token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<form method="post">
    <input type="submit" value="submit" />
</form>
<h6>__RequestVerificationToken: @token</h6>
<script>
    $(function () {
        /*$post("/yourformhandler", { name1: param1, __RequestVerificationToken: '@token' });*/
    });
</script>