﻿@page
@functions {
    [BindProperty]
    public List<Order> OrdersThisWeek { get; set; } = new List<Order>()
{
        new Order{OrderId=1,Customer="Tom",OrderDate=new DateTime(2022,1,25),Dispatched=true },
        new Order{OrderId=1,Customer="Kate",OrderDate=new DateTime(2015,2,17),Dispatched=true },
        new Order{OrderId=1,Customer="Jimmy",OrderDate=new DateTime(2019,8,14),Dispatched=false},
        new Order{OrderId=1,Customer="Carl",OrderDate=new DateTime(204,12,27),Dispatched=false},
    };
    public class Order
    {
        public int OrderId { get; set; }
        public string Customer { get; set; }
        public DateTime OrderDate { get; set; }
        public bool Dispatched { get; set; }
    }
    public void OnPost()
    {
        var test = OrdersThisWeek;
    }
}
<form method="post">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Dispatched</th>
        </tr>
        @for (var i = 0; i < Model.OrdersThisWeek.Count(); i++)
        {
            <tr>
                <td>
                    <input type="hidden" asp-for="OrdersThisWeek[i].OrderId" />
                    @Model.OrdersThisWeek[i].OrderId
                </td>
                <td>@Model.OrdersThisWeek[i].Customer</td>
                <td>@Model.OrdersThisWeek[i].OrderDate.ToShortDateString()</td>
                <td><input asp-for="OrdersThisWeek[i].Dispatched" /></td>
            </tr>
        }
    </table>
    <button>Update</button>
</form>