﻿@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@functions {
    public string? connString { get; set; }
    public void OnGet()
    {
        ViewData["config"] = Configuration["AppSettings:First"];
        connString = Configuration.GetConnectionString("DefaultConnection");
    }
}
<h4>@ViewData["config"]</h4>
<br />
<h4>@connString</h4>

