﻿@page
@using System.ComponentModel.DataAnnotations

@functions {
    [BindProperty, DisplayFormat(DataFormatString = "{0:yyyy-MM-ddTHH:mm}", ApplyFormatInEditMode = true)]
    public DateTime DateTime { get; set; } = DateTime.Now;

    [BindProperty, DataType(DataType.Date)]
    public DateTime Date { get; set; } = new DateTime(2015, 1, 15);

    [BindProperty, DataType(DataType.Time)]
    public DateTime Time { get; set; }

    [BindProperty, DataType("month")]
    public DateTime Month { get; set; }

    [BindProperty, DataType("week")]
    public DateTime Week { get; set; }
}

DateTime:
<input class="form-control" asp-for="DateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" />
@*<input type="datetime-local" name="DateTime" value="2023-05-24T17:44" ....>*@

<input class="form-control" asp-for="Date" />
@*<input type="date" name="Date" value="2015-01-15" ....>*@

<input class="form-control" asp-for="Time" />
@*<input type="time" name="Time" value="00:00:00.000" ....>*@

<input class="form-control" asp-for="Month" />
@*<input type="month" name="Month" value="0001-01">*@

<input class="form-control" asp-for="Week" />
@*<input type="week" name="Week" value="0001-W01">*@