﻿@page
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting
@using System.IO
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _environment
@functions {
    [BindProperty]
    public IFormFile? Upload { get; set; }

    public async Task OnPostAsync()
    {
        string root_path = _environment.WebRootPath;
        var file = System.IO.Path.Combine(root_path, "uploads", Upload?.FileName ?? "");
        using (var fileStream = new System.IO.FileStream(file, FileMode.Create))
        {
            await Upload.CopyToAsync(fileStream);
        }
    }
}
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>