﻿@page
@functions {
    [BindProperty]
    public string? Gender { get; set; }
    public string[] Genders = new[] { "Male", "Female", "Unspecified" };

    public void OnPost()
    {
        var test = Gender;
    }
}

<form method="post">
    @foreach (var gender in Model.Genders)
    {
        <input type="radio" asp-for="Gender" value="@gender" id="Gender@(gender)" />
        @gender
        <br />
    }
    <input type="submit" />
</form>

@*
    //override id property
    <input type="radio" value="Male" id="Gender" name="Gender" id="GenderMale" />Male<br />
    <input type="radio" value="Female" id="Gender" name="Gender" id="GenderFemale" />Female<br />
    <input type="radio" value="Unspecified" id="Gender" name="Gender" id="GenderUnspecified" />Unspecified<br />
*@