﻿@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="zip" />
    <div>
        <button class="btn btn-default">Submit</button>
    </div>
}
@section Scripts{
    <script>
        alert('+'@ViewBag.Result'+');
    </script>
}
