﻿@model IEnumerable<FileUpload.Models.tblFile>

@using (Html.BeginForm("Index", "UploadVarchar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" />
    <input type="submit" id="btnUpload" value="Upload" />
}
@using (Html.BeginForm("DownloadFile", "UploadVarchar", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId" />
    <input type="submit" id="btnDownload" value="Download" style="display:none" />
}
<hr />
<table cellpadding="0" cellspacing="0">
    <tr>
        <th style="width:50px">File ID</th>
        <th style="width:120px">File Name</th>
        <th style="width:80px">Download</th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var file in Model)
        {
            <tr>
                <td>@file.id</td>
                <td>@file.Name</td>
                <td><a href="javascript:;" onclick="DownloadFile(@file.id)">Download</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
    }
</table>
@section Scripts{
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
}
