﻿@using Models
@model FruitViewModel

<form method="post" asp-controller="Home" asp-action="Index">
    <select asp-for=FruitId asp-items="Model.FruitLists">
        <option value="0">Please select</option>
    </select>
    <input type="hidden" name="FruitName" />
    <input type="submit" value="Submit" />
</form>
@section Scripts{
    <script type="text/javascript">
        $("body").on("change", "#ddlFruits", function () {
            $("input[name=FruitName]").val($(this).find("option:selected").text());
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
        </script>
    }
}