﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aspnet.JQuery</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            <div class="d-grid gap-2">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">
                   AlertViewbagMessage
                </a>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="JqueryNotify">
                    JqueryNotify
                </a>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="ModalPopup">
                    ModalPopup
                </a>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/js/jquery.min.js"></script>
            <script src="~/js/jquery-ui.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/jquery.validate.min.js"></script>
            <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
            <script src="~/js/notify.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
        <partial name="_Notification" />
    </div>
</body>
</html>
