﻿@if (TempData["Success"] != null)
{
    <input type="hidden" id="modal" value="#successModal" />
    <partial name="/Views/Shared/Notifications/_Success.cshtml" model="(string?)@TempData["Success"]" />
}
@if (TempData["Error"] != null)
{
    <input type="hidden" id="modal" value="#errorModal" />
    <partial name="/Views/Shared/Notifications/_Error.cshtml" model="(string?)@TempData["Error"]" />
}
@if (TempData["Info"] != null)
{
    <input type="hidden" id="modal" value="#infoModal" />
    <partial name="/Views/Shared/Notifications/_Info.cshtml" model="(string?)@TempData["Info"]" />
}
<script>
    $(function () {
        var showModal = $('#modal').val();
        if (typeof showModal !== 'undefined') {
            $(showModal).modal('show');
        }
    });
</script>