﻿@page "{partial?}"
@using System.Threading
@functions {
    public void OnGet()
    {

    }
    public IActionResult OnGetPartial()
    {
        Thread.Sleep(2000);
        PartialViewResult? result = new PartialViewResult
        {
            ViewName = "_HelloWorldPartial",
            ViewData = this.ViewData
        };
        return result;
    }
}
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
<a href=""
   data-ajax="true"
   data-ajax-url="/examples6/PartialAjaxUpdate/partial_ajax_update?handler=partial"
   data-ajax-update="#panel"
   data-ajax-loading="#spinner">Click here</a>
<span id="spinner" style="display:none;">
    <i class="fas fa-spinner fa-spin">

    </i>
</span>
<div id="panel"></div>
<script src="~/font-awesome/js/all.min.js"></script>